.AddFile {
  align-self: center;
  color: grey;
  text-decoration: none;
  background-color: inherit;
  border: none;
  margin: 5px;
}

.AddFileBtn {
  color: grey;
  text-decoration: none;
  background-color: inherit;
  align-self: center;
  justify-self: center;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}