.NavBar {
  grid-column: span 1;
  grid-row: span 24;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 10px;
}

.ModalHandler {
  text-decoration: none;
  background-color: black;
  color: grey;
  border-radius: 20px;
}