.ChatArea {
  grid-column-start: 5;
  grid-column-end: 22;
  grid-row: span 22;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-color: grey rgb(12, 12, 12);
  scrollbar-width: thin;
  padding: 10px;
  background-color: rgb(12, 12, 12);
  border-radius: 25px;
  margin: 20px;
  box-shadow: 2px 7px 5px 2px rgb(9, 8, 8);
}