.AuthContainer {
  background-color: black;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.AuthContainer p {
  font-size: 12px;
}

.Auth {
  color: grey;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid white;
  margin: 20px;
}

.AuthBtn {
  align-self: center;
}

.AuthInput {
  margin: 3px;
}

.AuthLabel {
  align-self: center;
}

.AuthAlert {
  justify-self: flex-start;
  align-self: center;
}

.AuthHeader {
  color: grey;
  align-self: center;
  border: 1px solid grey;
  padding: 5px; 
}

.AuthLink {
  color: grey;
  justify-self: center;
  text-decoration: none;
  font-size: 12px;
}

.AuthLink:hover {
  color: white;
}